@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    font-family: Helvetica;
}

h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

hr {
    border-color: #C02F1D;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.row ul li {
    list-style: lower-greek;
    margin-bottom: 10px
}

.banner {
    background: url('../images/5856357-ny-skyline-wallpapers-and-screensavers.jpg');
    background-size: cover;
    background-position: bottom;
    height: 350px;
    width: 100%;
}

.headline {
    text-transform: uppercase;
    color: #F0F0F0;
    font-weight: bold;
    font-size: 70px;
    padding-left: 100px;
    padding-top: 100px;
}

.navigation {
    width: 100%;
    background-color: #161515;
}

.navbar-toggle {
    border-color: #F0F0F0;
}

.navbar-toggle .icon-bar {
    background-color: #F0F0F0;
}

.nav-pills>li {
    background-color: #161515;
    border-radius: 0;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
}

.nav-pills>li>a {
    text-decoration: none;
    border-radius: 0;
    color: #F0F0F0;
}

.nav-pills>li>a:hover {
    background-color: #C02F1D;
    color: #F0F0F0;
    border-radius: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #C02F1D;
    color: #F0F0F0;
    border-radius: 0;
}

.content-container {
    display: flex;
}

#content-container {
    padding: 20px;
    width: 100%;
    font-size: 1.2em;
}

.boroughInjuriesContainer {
    width: 75%;
    max-width: 75%;
    float: left;
}

.svgContainerGeoAccidents {
    z-index: 0;
}

.svgContainerGeoRatio {
    z-index: 0;
}

.barPlot {
    width: 75%;
    max-width: 75%;
    height: 700px;
    float: left;
}

.mt-50 {
    margin-top: 50px;
}
